.pakutaso {
	display: block;
	/* 改行して配置 */
	margin-top: 5px;
	/* 著作権表記との隙間 */
	font-size: 10px !important;
	/* 小さめの文字サイズ */
	color: #ffff00 !important;
	/* サイト共通の黄色に統一 */
	text-decoration: none !important;
	/* 下線を消す */
	font-family: "DotGothic16", sans-serif !important;
}
